:root {
  --background-color: white;
  --text-color: #171717;
  max-width: 600px;
  margin: 0 auto;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.page {
  background-color: #727272; /* 테스트용 배경 */
}
